[Unit]
Description=Banking Web Application with FastAPI
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/goodbank
Environment="PATH=/home/ec2-user/goodbank/venv/bin:/usr/local/bin:/usr/bin"
EnvironmentFile=/home/ec2-user/goodbank/.env
ExecStart=/home/ec2-user/goodbank/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5
StandardOutput=append:/home/ec2-user/goodbank/app.log
StandardError=append:/home/ec2-user/goodbank/app-error.log

[Install]
WantedBy=multi-user.target
